{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> Welcome </title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <img src="{% static 'images/tea.jfif' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/patrick.jpg' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static 'images/todo.jfif' %}" alt="Notes" class="rounded-lg shadow" width="360" height="250">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <center><p class="h1 text-primary">Quick and Easy to use, Anytime, Anywhere!</p></center>
            <center><p class="h3">"Plan your Day better, get your life Organised"</p></center>
            <center><p class="h5">TASKMATE lets you keep track of your tasks in one place.</p></center>

            <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg shadow row mt-3">Lets get started</button></a></center>
        </div>
    </div>
</div>
{% endblock content %}